*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;

}

.nav{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}
.nav-1{
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;

}

.nav-1 img{
    border: 0;
    height: 80px;
    width: 70px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;   
    cursor: pointer;
}

.nav-2 ul{

    margin-right: 30px;
    margin-top: 19px;
}

.nav-2 ul il{
    margin: 15px;
}

.nav-2 button{
    font-weight:bolder;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    align-items: center;
    background-color: #1F2937;
    
}

.nav-2 button a{
    color: #E5E7EB;
    
}

.content{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    margin-top: 0;
    padding-top: 110px;
}

.cnt-left{
    margin-left: 80px;
    
}

.cnt-left h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.cnt-left p{
    font-size: 18px;
    margin-top: 6px;
    color: #F9FAF8;
}

.cnt-left button{
    margin-top: 15px;
    background-color: #3882F6;
    border: none;
    width: 80px;
    height: 35px;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    color:  #F9FAF8;
}



.cnt-right{
    margin-right: 100px;
}
.cnt-right img{

    padding-bottom: 80px;
    height: 330px;
    width: 250px;
}


.info{
    display: flex;
    justify-content: center;
}


.inf-1 h1{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 28px;   
}

.inf2{
    display: flex;
    margin-top: 0px;
    padding-top: 50px;
    justify-content: space-between;
    padding-bottom: 20px;
    

}


.img1 img{
    padding-bottom: 80px;
    padding-top: 40px;
    height: 300px;
    width: 250px;
    margin-left: 30px;
    border: 2px solid#3882F6;

}
.img2 img{
    padding-bottom: 80px;
    padding-top: 40px;
    height: 300px;
    width: 250px;
    border: 2px solid#3882F6;
}

.img3 img{
    padding-bottom: 80px;
    padding-top: 40px;
    height: 300px;
    width: 250px;
    margin-right: 30px;
    border: 2px solid#3882F6;   
}


.img1 p{
    font-size: 18px;
    margin-top: 6px;
    color: #1F2937;
    padding-left: 30px;
} 

.img2 p{
    font-size: 18px;
    margin-top: 6px;
    color: #1F2937;
    padding-left: 45px;
} 


.img3 p{
    font-size: 20px;
    margin-top: 6px;
    color: #1F2937;
    padding-left: 40px;
} 



.qute{
    height: 350px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
}

.qt p{
    
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.sign{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.sp{
    width: 800px;
    padding-top: 50px;
    background-color: #3882F6;
    padding-left: 100px;
}

.sp h4{
    padding-left: 30px;
    color: #E5E7EB;
}

.sp p{
    padding-left: 30px;
    font-size: 20px;
}

.sp button{
    background-color: #3882F6;
    border:  2px solid wheat;
    font-size: medium;
    font-weight: 200;
    margin-left: 30p;
    margin-top: 30px;
}

.ft{
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    background-color: #1F2937;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom:20px ;
}
